---
layout: default
---

<div class="header-bar">
  <h1>On the Fly</h1>
  <h2>documentation of works at Fablab Waag</h2>

  <hr>
  <br/>
</div>

<section class="tags">
  <h3>Tags:</h3>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <ul>
    <li>
	    <a class="posts" href="{{ site.url }}/tags/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' '
        }} ({{ tag | last | size
        }}){% unless forloop.last %}, {% endunless %}
      </a>
    </li>
  </ul>
  {% endfor %}
</section>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><span class="post-meta">{{ post.date | date: "%d. %m. %Y"}}</span>  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>  </h2>
        <!--<p class="post-meta">{{ post.date | date: "%d. %m. %Y"}}</p> -->
        <!-- <p>{{ post.description }}</p> -->
        <!-- <br/> -->
        <hr/>
      </li>
    {% endfor %}
</ul>
