---
layout: default
---

<div class="header-bar">
  <h1>Aslı Aydın Aksan</h1>
  <p>This webpage is dedicated to the documentation of my internship at <a href="https://fablab.waag.org/">Fablab Amsterdam</a> and <a href="https://waag.org/en/">Waag Futurelab</a></p>

  <hr>
  <br/>
</div>

<!--
<section class="tags">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  	    <a class="posts" href="{{ site.url }}/tag/{{ tag | first | slugify }}/">#{{ tag[0] | replace:'-', ' '
        }} ({{ tag | last | size
        }})  {% unless forloop.last %}, {% endunless %}
      </a>
  {% endfor %}
</section>



<br>

<hr>

<br>
-->
<div>

  <h2><a href="https://asliaydinaksan.github.io/documentation/">Documentation</a></h2> page is a collection of all my work, tutorials, etc. in blog-like format.

  <hr>
  <br>
</div>

<div>
  
  <h2><a href="https://asliaydinaksan.github.io/about/">About</a></h2> page is --well-- about me and about how to contact me. 

  <hr>
  <br>
</div>

<div>
  
  <h2><a href="https://asliaydinaksan.github.io/about/">Portfolio</a></h2> page is a collection of selected projects realized by me at the lab. 

  <hr>
  <br>
</div>


<h1>4-shaft Loom</h1>Final Project

<br>
<a href="https://asliaydinaksan.github.io/portfolio/2022-12-23-4-shaft-weaving-loom/"> <img src="/assets/imagesPortfolio/2022-12-23-4-shaft-weaving-loom/loomIndexImage.jpg" width="100%"></a>

<!--
<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2> <span class="post-meta">{{ post.date | date: "%d. %m. %Y"}}</span>  <a class="post-title" href="{{ post.url | prepend: site.baseurl }}" font-size="3px">{{ post.title }}</a>  </h2>
        <hr/>
      </li>
    {% endfor %}
</ul>
-->