---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title"> <i class="fas fa-hashtag fa-sm"></i> {{ page.title }} </h1>
    <p class="post-description"> an archive of posts with this tag </p>
  </header>

  <br>
  
  <ul class="post-list">
    {% for post in page.posts %}
      <li>
        <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <!--<p class="post-meta">{{ post.date | date: "%d. %m. %Y"}}</p> -->
        <!-- <p>{{ post.description }}</p> -->
        <!-- <br/> -->
        <hr/>
      </li>
    {% endfor %}
  </ul>

</div>
